*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family:''Roboto ,sans-serif;
    background-color: #e6e6e6;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color:rgb(11,78,78);
    color: white;
    position: fixed;
    top: 0%;
    width: 100%;
}
ul{
    display:flex;

}
ul li{
    list-style: none;

}
ul li a{
text-decoration: none;
color: white;
font-size: 20px;
margin-inline: 16px;
}
ul li a:hover{
    color: black;
    border-bottom: 2px solid black;
}
.logo{
    font-size: 22px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(14,100,100);
    color: white;
    height: 640px;
    
}
.mainText h1{
    font-size: 55px;
}

.mainText h3{
    font-size: 35px;
    margin-top: 20px;
}
.mainText button{
    width: 140px;
    height: 40px;
    border: none;
    margin-top: 22px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 27px;
}
.mainText button:hover{

    border: 2px solid black;
    background-color: transparent;
    
}
.teams{
    display:flex;
    justify-content: center;
}
teams.card{
    width: 300px;
    height: 380px;
    background-color: #fff;
    margin-inline: 20px;
    border-radius: 5px;
    margin-top: 22px;
}
.spcard img{
    width: 200px
    
}
.spcard p{
    margin-top: 11px;
    margin-left: 11px;
}
.head{
    text-align: center;
    padding: 80px;
}

.surgery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.surgery Card{
    text-align: center;
    width: 300px;
    background-color: white;
    margin-inline: 20px;
    padding: 20px;
    margin-top: 22px; 
}
.surgery card img{
    width: 100px;
}
.surgery card p{
    margin-top: 12px;
}
.reviews{
    width: 800px;
    height: 400px;
    position:absolute;
    overflow:hidden;
    margin:auto
}
.patient .reviews{
    display: flex;
    width:100% ;
    height: 100%;
    position:absolute;
    transition: all 1s ease;
}
.parent review img{
    width: 300px;
    margin-inline: 4px;
    
}
.contact{
    width: 300px;
    background-color:#fff;
    padding: 22px;
    margin:auto;
    text-align: center;
    border-radius: 4px;
}
.contact h1{
    color:aqua(16,103,103);
}
.contact input{
    width:90%;
    padding: 9px;
    font-size:18px;
    border:none;
    outline: none;
    background-color: #e4e1e1;
    border-radius: 2px;
    margin-top: 22px;
} 
.contact button{
    width: 100px;
    height: 30px;
    margin-top: 23px;
    background-color:rgb(13,98,98) ;
    color:white;
    font-size: 17px;
    border:none;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    color: white;
    margin-top: 66px;
    background-color: rgb(11,76,76);
}
.text p{
    margin-top: 12px;
}
.detail{
    
    position:fixed;
    top:5%;
    left:50%;
    right:50%;
    width: 400px;
    transform:translate(-50%,40%);
    background-color: #fff;
    border-radius: 4px;
    padding: 22px;
}
.Content{
    display:flex;
    gap: 22px;

}
.Content img{
    width: 200px;
    height: 250px;
}
.Content p{
    margin-top: 22px;
}
.detail button{
    position: relative;
    top: -23px;
    left: -22px;
    width: 30px;
    height:30px;
    background-color: rgb(12,94,94);
    border:none;
    border:radius 4px;
    font-size: 18px;
    color:white;
    cursor: pointer;
}
#bar{
    align-items: center;
    display:none;
    font-size:25px;
}
@media screen and(max-width:1100px){
    .main{
        text-align:center;
        display:block;
        height: auto;
    }
    .mainText{
        margin-top: 115px;
    }
    }
@media screen and (max-width:900px){
    ul{
        display:none;
    }
    #bar{
        display:block;
    }  
}
@media screen and (max-width:850px){
    .patients{
    width: 90%;
    }
    patient Card img{
        width:40%;
    }
    }
 @media screen  and (max-width:60px){
    .mainText h1{
     font-size:33px;
    }
   .main img{
    width:90%;
   }
 .content{
    width:90%;
 }
 .content Detail img{
    width:50%;
 }
}
@media screen and (max-width:500px){
 .patientcard img  {
    width:40%;
    height: 200px;
    margin-inline: 8px;
 }
 .contact{
    width:60%
 }
}
@media screen and (max-width:400px){
    .Content Detail img{
        width:50%;
        height: 200px;
    }
    .ContentDetail{
        display: block;
        text-align: center;
    }
    .ContentDetail h1{
        font-size: 15bpx;
    }

}

    
  













































































































